@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 3px;
    font-weight: 300;
}

.mainContainer {
    width: auto;
    display: flex;
    flex-direction: row;
}

.timeDtContainer {
    margin: 30px;
    padding: 30px;
}

.currentTime {
    font-size: 50px;
    font-weight: 600;
    color:rgb(160, 183, 246)
}

.greeting {
    font-size: 25px;
}

.mainWeatherCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
}


.eachCard {
    border: solid 1px; 
    border-radius: 25px;
    width: 200px;
    height: 270px;
    margin: 15px;
}

.flex {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.weatherContainer {
    display: flex;
    justify-content: center; 
    width: 25%;
    height: 100vh;
}

.forecastContainer{
    width: 75%;
    height: 100vh;
    background-color: rgba(218, 222, 226, 0.738);
}

#searchForm {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#searchText {
    width: fit-content;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
}

.searchBtn {
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    padding: 10px;
    font-size: 15px;
    color: rgba(120, 117, 117, 0.635);
}

.cityWeatherContainer {
    width: fit-content;
    height: fit-content;
    box-sizing: content-box;
    background-color: rgba(172, 204, 224, 0.868);
    border-radius: 27px;
    padding: 30px;
    margin: 25px 0;
    font-size: 20px;
    text-align: center;
    background: rgb(181,189,217);
    background: rgb(181,189,217);
    background: linear-gradient(90deg, rgba(181,189,217,0.5835734870317003) 100%, rgba(214,215,219,0.76109375) 100%);    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cityWeatherContainer div {
    margin: 10px 30px;
}

.cityNameContainer {
    display: flex;
    justify-content: flex-start;
    translate: initial;
    transform: translate(-35px, -28px);
}

.cityName {
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    color:rgb(255, 255, 255)
}

.todayDate {
    font-size: 30px;
    text-transform: capitalize;
    /* color: rgba(116, 116, 116, 0.777) */
}

.description {
    font-size: 17px;
    text-transform: capitalize;
    color: rgba(116, 116, 116, 0.777);
}

.displayTemp {
    font-size: 65px;
    font-weight: 700;
    color: rgb(245, 245, 245);
}

.historyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historyBtn {
    border: none;
    border-radius: 25px;
    font-size: 30px;
    font-weight: 200;
    text-transform: capitalize;
    color: grey;
    margin: 15px;
    padding: 10px;
    background: rgb(191,159,224);
    background: linear-gradient( 90deg, 
      rgba(191,159,224,0.3717579250720461) 1%, 
      rgba(222,207,240,0.3717579250720461) 100%, 
      rgba(214,215,219,0.76109375) 100%);
}

